<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="pageTitle">
            <!-- <div role="actions">
                <button *ngIf="'Pages.Tenants.Create' | permission"
                    class="btn btn-primary"
                    (click)="createTenant()"><i class="fa fa-plus"></i>{{"CreateNewTenant" | localize}}
                </button>
            </div> -->
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="">
                    <!--card-body-->
                    <div class="row align-items-center bg-white">
                        <ng-wizard [config]="config" (stepChanged)="stepChanged($event)" class="w-100">
                            <ng-wizard-step [title]="'Tag Score'">
                                <div class="d-flex flex-column align-items-center" *ngIf="showNextLessonsOnScore">
                                    <button class="btn btn-primary font-weight-bold" type="button"
                                            (click)="toNext()">
                                        Next Lesson
                                    </button>
                                </div>
                                <div>
                                    <div class="tag-score-container d-flex flex-wrap" *ngIf="currentLesson?.tagScores">
                                        <div class="card score-card" *ngFor="let tagScore of currentLesson.tagScores">
                                            <div class="card-body">
                                                <div class="d-flex flex-column align-items-center">
                                                    <div class="tag-score w-100">
                                                        <ngx-slider [(value)]="tagScore.rating" [options]="sliderOptions"></ngx-slider>
                                                    </div>
                                                    <div>
                                                        {{tagScore.tagName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-wizard-step>

                            <ng-wizard-step [title]="'Lesson'">
                                <div *ngIf="currentLesson?.lesson && currentLesson?.step === LessonStep.Lesson">
                                    <div class="" *ngIf="currentLesson.lesson.lessonVideoHtml"
                                         [innerHTML]="currentLesson.lesson.lessonVideoHtml | safe">
                                    </div>
                                    <div *ngIf="currentLesson.lesson.lessonText">
                                        <p [innerHTML]="currentLesson.lesson.lessonText | safe"></p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <button type="button" class="btn btn-light-primary font-weight-bold"
                                            (click)="goBack()">
                                        Back
                                    </button>
                                    <button type="submit" class="btn btn-primary font-weight-bold"
                                            (click)="toNext()">
                                        <span>Start Activity</span>
                                    </button>
                                </div>
                            </ng-wizard-step>

                            <ng-wizard-step [title]="'Activity'">
                                <div *ngIf="currentLesson?.lesson && currentLesson?.step === LessonStep.Activity">
                                    <div class="" *ngIf="currentLesson.lesson.activityVideoHtml"
                                         [innerHTML]="currentLesson.lesson.activityVideoHtml | safe">
                                    </div>
                                    <div *ngIf="currentLesson.lesson.activityText">
                                        <p [innerHTML]="currentLesson.lesson.activityText | safe"></p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <button type="button" class="btn btn-light-primary font-weight-bold"
                                            (click)="goBack()">
                                        Back
                                    </button>
                                    <button type="button" class="btn btn-primary font-weight-bold"
                                            (click)="toNext()">
                                        <span>Start Problem Set</span>
                                    </button>
                                </div>
                            </ng-wizard-step>

                            <ng-wizard-step [title]="'Problem Set'">
                                <div *ngIf="currentLesson">
                                    <form #answerForm="ngForm" *ngIf="currentLesson.problem" autocomplete="off" (submit)="submitProblem()">
                                        <div class="h6">
                                            Question {{currentLesson.problem.number}} of {{currentLesson.problem.totalCount}}
                                        </div>
                                        <div class="separator separator-solid mb-4"></div>
                                        <div>
                                            {{currentLesson.problem.taskDescription}}
                                        </div>
                                        <div [ngSwitch]="currentLesson.problem.type" class="pt-5">
                                            <div *ngSwitchCase="ProblemType.FreeText">
                                                <div class="form-group">
                                                    <label for="FreeAnswer">Answer</label>
                                                    <input id="FreeAnswer" type="text" name="Name" required class="form-control"
                                                           #problemAnswer="ngModel"
                                                           #problemInput
                                                           [(ngModel)]="problemFreeAnswer" autoFocus>
                                                    <validation-messages [formCtrl]="problemAnswer" *ngIf="!problemAnswer.touched">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="ProblemType.Choise">
                                                <span class="label label-sm label-rounded label-warning">Under construction</span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <!-- <button type="button" class="btn btn-light-primary font-weight-bold"
                                                (click)="goBack()">
                                            Back
                                        </button> -->
                                            <button type="submit" class="btn btn-primary font-weight-bold"
                                                    [disabled]="!answerForm.form.valid">
                                                <span>Next</span>
                                            </button>
                                        </div>
                                    </form>
                                    <div *ngIf="!currentLesson.problem">
                                        <h3>You have completed problem set!</h3>
                                        <div class="d-flex justify-content-start">
                                            <!-- <button type="button" class="btn btn-light-primary font-weight-bold"
                                                (click)="goBack()">
                                            Back
                                        </button> -->
                                            <button type="button" class="btn btn-primary font-weight-bold"
                                                    (click)="toNext()">
                                                <span>To tag score</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-wizard-step>
                        </ng-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-answer-result-modal #answerResultModal></app-answer-result-modal>
